h2 {
    position: relative;
    padding: 1.5rem 1rem;
    margin-bottom: 40px;
}

h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    content: "";
    background-image: -webkit-repeating-linear-gradient(
        135deg,
        #000,
        #000 1px,
        transparent 2px,
        transparent 5px
    );
    background-image: repeating-linear-gradient(
        -45deg,
        #000,
        #000 1px,
        transparent 2px,
        transparent 5px
    );
    background-size: 7px 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.header-img {
    background-image: url("../image/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
}

.diary-input {
    padding: 5px;
    margin: 10px 0;
}
.diary-input-date {
    width: 50%;
    background-color: lavenderblush;
}

.diary-input-register {
    padding: 5px 20px;
}

.diary-input-contents {
    width: 100%;
    background-color: lavenderblush;
}
